body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  background: hsl(240, 38%, 20%);
  display: flex;
}

.slide {
  background-color: hsl(240, 18%, 77%) !important;
  height: 40%;
  max-height: 40%;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 25% 10% 20% 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: url("./images/pattern-curve.svg") no-repeat bottom left;
  background-size: 300px;
}

.pic {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  height: 310px;
  width: 310px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: url("./images/pattern-bg.svg") no-repeat top;
  background-size: 300px 300px;
}

.quote {
  z-index: 2;
  align-self: center;
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  grid-row: 3/4;
  margin-top: 20px;
  font-size: small;
  color: grey;
}

.name > span {
  font-weight: bolder;
  color: black;
}

img {
  width: 250px;
}

.john {
  display: none;
}
